In [6]:
df=pd.read_csv("Inputfile.csv")

In [2]:
import pandas as pd
import numpy as np

In [6]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,9/6/2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,5/25/1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,6/6/2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,265,40,430029,8/21/2006,IL,250/500,1000,1454.43,0,459407,...,3,?,55120,6890,0,48230,Accura,MDX,2002,N
396,163,33,529112,1/8/1990,IN,100/300,500,1240.47,0,472573,...,1,?,77110,0,14020,63090,Honda,Civic,2014,N
397,355,47,939631,3/18/1990,OH,500/1000,2000,1273.70,4000000,433473,...,1,NO,62800,6280,6280,50240,Audi,A3,2003,Y
398,175,34,866931,1/7/2008,IN,500/1000,1000,1123.87,8000000,446326,...,0,YES,7290,810,810,5670,Volkswagen,Passat,1995,N
399,192,35,582011,3/10/1997,IL,100/300,1000,1245.89,0,435481,...,0,?,76600,15320,7660,53620,Mercedes,C300,2000,N

In [10]:
df_cat['policy_csl'].unique()

array(['250/500', '100/300', '500/1000'], dtype=object)

In [11]:
df_cat['insured_sex'].unique()

array(['MALE', 'FEMALE'], dtype=object)

In [13]:
df['incident_hour_of_the_day']

0       5
1       8
2       7
3       5
4      20
       ..
395    17
396    11
397    19
398     5
399    19
Name: incident_hour_of_the_day, Length: 400, dtype: int64

In [4]:
df=df.replace('?',np.nan)

In [20]:
df.isna().sum()
df.columns.sum()

months_as_customer               0
age                              0
policy_number                    0
policy_bind_date                 0
policy_state                     0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_zip                      0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_hobbies                  0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_date                    0
incident_type                    0
collision_type                  56
incident_severity                0
authorities_contacted            0
incident_state                   0
incident_city                    0
incident_location                0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                104
bodily_injuries                  0
witnesses                        0
police_report_available        144
total_claim_amount               0
injury_claim                     0
property_claim                   0
vehicle_claim                    0
auto_make                        0
auto_model                       0
auto_year                        0
fraud_reported                   0
dtype: int64

In [16]:
pd.set_option('display.max_columns', None)

In [50]:
num=df[['months_as_customer','policy_deductable','umbrella_limit','capital-gains','capital-loss','incident_hour_of_the_day'
                                  ,'number_of_vehicles_involved', 'bodily_injuries', 'witnesses', 'injury_claim',
                                  'property_claim']]

In [51]:
num

,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim
0,328,1000,0,53300,0,5,1,1,2,6510,13020
1,228,2000,5000000,0,0,8,1,0,0,780,780
2,134,2000,5000000,35100,0,7,3,2,3,7700,3850
3,256,2000,6000000,48900,-62400,5,1,1,2,6340,6340
4,228,1000,6000000,66000,-46000,20,1,0,1,1300,650
...,...,...,...,...,...,...,...,...,...,...,...
395,265,1000,0,0,0,17,3,2,3,6890,0
396,163,500,0,35300,0,11,3,1,1,0,14020
397,355,2000,4000000,0,0,19,3,2,1,6280,6280
398,175,1000,8000000,0,0,5,1,2,0,810,810
399,192,1000,0,0,-40300,19,1,0,0,15320,7660

In [11]:
df['policy_bind_date']

0      10/17/2014
1       6/27/2006
2        9/6/2000
3       5/25/1990
4        6/6/2014
          ...
395     8/21/2006
396      1/8/1990
397     3/18/1990
398      1/7/2008
399     3/10/1997
Name: policy_bind_date, Length: 400, dtype: object

In [8]:
count=0
count1=0
for i in df["fraud_reported"]:
    if i=="Y":
        count+=1
    else:
        count1+=1
print(count,count1)

128 272

In [37]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
scaled_data=sc.fit_transform(df_num)

In [43]:
df_num=df[['months_as_customer', 'policy_deductable', 'umbrella_limit',
                          'capital-gains', 'capital-loss', 'incident_hour_of_the_day',
                          'number_of_vehicles_involved', 'bodily_injuries', 'witnesses', 'injury_claim',
                          'property_claim',
                          'vehicle_claim']]

In [44]:
df_scaled_num=pd.DataFrame(data=scaled_data,columns=df_num.columns,index=df.index)
df_scaled_num

,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
0,1.092575,-0.383131,-0.589765,1.045020,0.846349,-1.046671,-0.836919,-0.103835,0.649063,-0.228194,1.098074,0.622664
1,0.209329,1.213247,1.429979,-0.942263,0.846349,-0.621195,-0.836919,-1.401770,-1.259946,-1.310244,-1.403401,-1.996577
2,-0.620922,1.213247,1.429979,0.366436,0.846349,-0.763020,1.065170,1.194101,1.603567,-0.003475,-0.775989,-0.940144
3,0.456638,1.213247,1.833928,0.880967,-1.584255,-1.046671,-0.836919,-0.103835,0.649063,-0.260296,-0.267110,0.549323
4,0.209329,-0.383131,1.833928,1.518538,-0.945442,1.080709,-0.836919,-1.401770,-0.305441,-1.212047,-1.429969,-1.940493
...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.536130,-0.383131,-0.589765,-0.942263,0.846349,0.655233,1.065170,1.194101,1.603567,-0.156435,-1.562809,0.415045
396,-0.364781,-1.181319,-0.589765,0.373893,0.846349,-0.195719,1.065170,-0.103835,-0.305441,-1.457539,1.302443,1.216402
397,1.331051,1.213247,1.026030,-0.942263,0.846349,0.938883,1.065170,1.194101,-0.305441,-0.271627,-0.279372,0.523438
398,-0.258791,-0.383131,2.641826,-0.942263,0.846349,-1.046671,-0.836919,1.194101,-1.259946,-1.304579,-1.397270,-1.880094
399,-0.108639,-0.383131,-0.589765,-0.942263,-0.723416,0.938883,-0.836919,-1.401770,-1.259946,1.435482,0.002657,0.705712

In [45]:
df.drop(columns=df_scaled_num.columns)

,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_annual_premium,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,property_damage,police_report_available,total_claim_amount,auto_make,auto_model,auto_year,fraud_reported
0,48,521585,10/17/2014,OH,250/500,1406.91,466132,MALE,MD,craft-repair,sleeping,husband,1/25/2015,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,YES,YES,71610,Saab,92x,2004,Y
1,42,342868,6/27/2006,IN,250/500,1197.22,468176,MALE,MD,machine-op-inspct,reading,other-relative,1/21/2015,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,?,?,5070,Mercedes,E400,2007,Y
2,29,687698,9/6/2000,OH,100/300,1413.14,430632,FEMALE,PhD,sales,board-games,own-child,2/22/2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,NO,NO,34650,Dodge,RAM,2007,N
3,41,227811,5/25/1990,IL,250/500,1415.74,608117,FEMALE,PhD,armed-forces,board-games,unmarried,1/10/2015,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,?,NO,63400,Chevrolet,Tahoe,2014,Y
4,44,367455,6/6/2014,IL,500/1000,1583.91,610706,MALE,Associate,sales,board-games,unmarried,2/17/2015,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,NO,NO,6500,Accura,RSX,2009,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,40,430029,8/21/2006,IL,250/500,1454.43,459407,FEMALE,MD,protective-serv,yachting,husband,2/21/2015,Multi-vehicle Collision,Rear Collision,Total Loss,Other,NY,Arlington,4234 Cherokee Lane,NO,?,55120,Accura,MDX,2002,N
396,33,529112,1/8/1990,IN,100/300,1240.47,472573,FEMALE,Associate,other-service,polo,husband,2/18/2015,Multi-vehicle Collision,Rear Collision,Total Loss,Fire,NC,Northbend,7476 4th St,YES,?,77110,Honda,Civic,2014,N
397,47,939631,3/18/1990,OH,500/1000,1273.70,433473,MALE,College,other-service,kayaking,husband,1/10/2015,Multi-vehicle Collision,Front Collision,Major Damage,Fire,WV,Arlington,8907 Tree Ave,NO,NO,62800,Audi,A3,2003,Y
398,34,866931,1/7/2008,IN,500/1000,1123.87,446326,FEMALE,PhD,protective-serv,dancing,other-relative,2/26/2015,Vehicle Theft,?,Trivial Damage,Police,NY,Arlington,6619 Flute Ave,?,YES,7290,Volkswagen,Passat,1995,N
399,35,582011,3/10/1997,IL,100/300,1245.89,435481,FEMALE,Masters,exec-managerial,movies,wife,1/1/2015,Single Vehicle Collision,Rear Collision,Total Loss,Other,WV,Springfield,6011 Britain St,NO,?,76600,Mercedes,C300,2000,N

In [47]:
df.select_dtypes(include='int64').columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_deductable',
       'umbrella_limit', 'insured_zip', 'capital-gains', 'capital-loss',
       'incident_hour_of_the_day', 'number_of_vehicles_involved',
       'bodily_injuries', 'witnesses', 'total_claim_amount', 'injury_claim',
       'property_claim', 'vehicle_claim', 'auto_year'],
      dtype='object')

In [9]:
from sklearn.impute import SimpleImputer

In [6]:
df=df.replace('?',np.nan)

In [38]:
imputer = SimpleImputer(strategy='most_frequent')

In [41]:
imputed_df = imputer.fit_transform(df['police_report_available'].values.reshape(-1,1))

In [7]:
null_present=False
missingvalie=[]
cols=df.columns
v=df.isna().sum()
for i in range(len(v)):
    if v[i]>0:
        null_present=True
        missingvalie.append(cols[i])

In [8]:
missingvalie

['collision_type', 'property_damage', 'police_report_available']

In [59]:
for i in missingvalie:
    df[i]=imputer.fit_transform(df[i].values.reshape(-1,1))

In [13]:
imputer=SimpleImputer(strategy="most_frequent")
for i in missingvalie:
    df[i]=imputer.fit_transform(df[i].values.reshape(-1,1))

In [15]:
df.isna().sum()

months_as_customer             0
age                            0
policy_number                  0
policy_bind_date               0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_date                  0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
dtype: int64

In [5]:
from sklearn.cluster import KMeans

In [15]:
kmean=KMeans(n_clusters=5,init='k-means++',random_state=42)
kmean.fit_predict(X)

ValueError: could not convert string to float: 'OH'